include ./layouts/default.jade

include ./layouts/header.jade

section#main-slider.no-margin
  .carousel.slide
    .carousel-inner
      .item.active(style='background-image: url(images/slider/bg2.jpg)')
        .container
          .row.slide-margin
            .col-sm-6
              .carousel-content
                h1.animation.animated-item-1 About myself
                h2.animation.animated-item-2 
                  | An undergraduate student from Federal University of Rio de Janeiro (UFRJ).
                  | Momentarily matriculated in Mechanical Engineering but eager to change to
                  | Computer Engeneering. Experienced in software development for Android and
                  | desktops. Deeply knows C/C++, Java and Python.
                a.btn-slide.animation.animated-item-3(href='#') Read More
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                img#img-me.img-responsive(src='images/me.png')
      // /.item

include ./layouts/skills.jade

include ./layouts/bottom.jade

include ./layouts/footer.jade
   