footer#footer.midnight-blue
      .container
        .row
          .col-sm-6
            | © 2013 
            a(target='_blank', href='http://shapebootstrap.net/', title='Free Twitter Bootstrap WordPress Themes and HTML templates') ShapeBootstrap
            | . All Rights Reserved.
          .col-sm-6
            ul.pull-right
              li
                a(href='index.html') Home
              li
                a(href='about.html') About Me
              li
                a(href='#') Faq
              li
                a(href='contact.html') Contact Me
                
script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.prettyPhoto.js')
script(src='js/jquery.isotope.min.js')
script(src='js/main.js')
script(src='js/wow.min.js')