header#header.navbar-fixed-top
      .top-bar
        .container
          .row
            .col-sm-6.col-xs-4
              .top-number
                p
                  i.fa.fa-phone-square
                  |   +55 (21) 99694-9605
            .col-sm-6.col-xs-8
              .social
                ul.social-share
                  li
                    a(href='https://www.facebook.com/ericreis.figueiredo')
                      i.fa.fa-facebook
                  //- li
                  //-   a(href='#')
                  //-     i.fa.fa-twitter
                  li
                    a(href='https://www.linkedin.com/profile/view?id=AAIAABie5nwBJVZ7MVPLMURUhUaef22kqHDo7rM&trk=nav_responsive_tab_profile_pic')
                      i.fa.fa-linkedin
                  li
                    a(href='skype:ericreisfigueiredo?call')
                      i.fa.fa-skype
                  li
                    a(href='https://github.com/ericreis')
                      i.fa.fa-github
                  li
                    a(href='https://bitbucket.org/ericreis/')
                      i.fa.fa-bitbucket
                .search
                  form(role='form')
                    input.search-form(type='text', autocomplete='off', placeholder='Search')
                    i.fa.fa-search
        // /.container
      // /.top-bar
      nav.navbar.navbar-inverse(role='banner')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html')
              img(src='images/logo.png', alt='logo')
          .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.active
                a(href='index.html') Home
              li
                a(href='about.html') About Me
              li
                a(href='projects.html') Projects
              li
                a(href='#') Presentations
              li
                a(href='#') Publications
              li
                a(href='contact.html') Contact
        // /.container
      // /nav
    // /header