section#presentations
  .container
    .center.wow.fadeInDown
      h2 Presentations
      p.lead
        | List of all my presentations.
    .row
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          img.img-responsive(src='#empty', alt='')
          .overlay
            .recent-work-inner
              h3
                a(href='#') No presentitions yet
              p No presentations yet
              a.preview(href='#empty')
                i.fa.fa-eye
                |  View Presentation
    // /.row
  // /.container
// /#recent-works

