section#projects
  .container
    .center.wow.fadeInDown
      h2 Projects
      p.lead
        | List of all my last projects (school or my own).
    .row
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          img.img-responsive(src='images/projects/min/CGraph-min.jpg', alt='')
          .overlay
            .recent-work-inner
              h3
                a(href='#') CGraph
              p An underdevelopment C++ graph library for Graph Teory course
              a.preview(href='https://github.com/ericreis/CGraph')
                i.fa.fa-eye
                |  View Source
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          img.img-responsive(src='images/projects/min/SurgeryNote-min.jpg', alt='')
          .overlay
            .recent-work-inner
              h3
                a(href='#') Surgery Note
              p An android native application for Empresa Júnior Fluxo Consultoria
              a.preview(href='https://github.com/ericreis/SurgeryNote')
                i.fa.fa-eye
                |  View Source
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          img.img-responsive(src='images/projects/min/ufrj-min.jpg', alt='')
          .overlay
            .recent-work-inner
              h3
                a(href='#') UFRJ Social (IC)
              p 
                | A social network for all UFRJ campi. Developed for android, has its own
                | REST Web Server
              a.preview(href='https://github.com/pamtabak/BradMobile')
                i.fa.fa-eye
                |  View Client Source
              a.preview(href='https://github.com/ericreis/UFRJSocialServer')
                i.fa.fa-eye
                |  View Server Source
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          img.img-responsive(src='images/projects/min/cg-handouts-min.jpg', alt='')
          .overlay
            .recent-work-inner
              h3
                a(href='#') CG Handouts
              p All practical handouts of Computer Graphics course
              a.preview(href='projects.html#cg-handouts')
                i.fa.fa-eye
                |  View Source
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          img.img-responsive(src='images/projects/min/chat-min.jpg', alt='')
          .overlay
            .recent-work-inner
              h3
                a(href='#') Simple Chat
              p A simple chat for android and desktop. It has its own Java Server.
              a.preview(href='https://github.com/ericreis/ChatClient')
                i.fa.fa-eye
                |  View Desktop Client Source
              a.preview(href='https://github.com/ericreis/ChatServer')
                i.fa.fa-eye
                |  View Server Source
    // /.row
  // /.container
// /#recent-works

