section#publications
  .container
    .center.wow.fadeInDown
      h2 Publications
      p.lead
        | List of all my publications.
    .row
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          img.img-responsive(src='images/publications/min/semish2015-min.jpg', alt='')
          .overlay
            .recent-work-inner
              h3
                a(href='#') UFRJ Social
              p Paper publicado na 42ยบ SEMISH (CSBC 2015)
              a.preview(href='https://submissoes.sbc.org.br/PS.cgi/143231.1.pdf?m=143231&fi=1&f=143231_1.pdf')
                i.fa.fa-eye
                |  View Paper
    // /.row
  // /.container
// /#recent-works

