section#features
.container
  .center.wow.fadeInDown
    h2 My Skills
    p.lead
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
      br
      |  et dolore magna aliqua. Ut enim ad minim veniam
  .row
    .fadeInDown
      .skill
        .progress-wrap
          h3 C/C++
          .progress
            .progress-bar.color2(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 85%')
              span.bar-width 85%
        .progress-wrap
          h3 Java
          .progress
            .progress-bar.color1(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 90%')
              span.bar-width 90%
        .progress-wrap
          h3 Python
          .progress
            .progress-bar.color1(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 95%')
              span.bar-width 95%
        .progress-wrap
          h3 JavaScript
          .progress
            .progress-bar.color4(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 65%')
              span.bar-width 65%
        .progress-wrap
          h3 CSS/CSS3
          .progress
            .progress-bar.color3(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
              span.bar-width 80%
        .progress-wrap
          h3 Web Design
          .progress
            .progress-bar.color4(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 65%')
              span.bar-width 65%
        .progress-wrap
          h3 Jade
          .progress
            .progress-bar.color1(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 90%')
              span.bar-width 90%
        .progress-wrap
          h3 HTML/HTML5
          .progress
            .progress-bar.color1(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 90%')
              span.bar-width 90%
        .progress-wrap
          h3 CSS/CSS3
          .progress
            .progress-bar.color3(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
              span.bar-width 80%
    // /.col-sm-6